@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html ng-app="myApp">
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="~/js/EmployeeService.js"></script>

    <script src="~/js/EmployeeControllers.js"></script>




</head>
<body>
    <h2>Simple Registration Form</h2>
    <div ng-controller="Part6Controller">
        <form novalidate name="f1" ng-submit="SaveData(User)">
            <div style="color:red">{{message}}</div>
            <table>
                <tr>
                    <td>Full Name : </td>
                    <td>
                        <input type="text" ng-model="User.FullName" name="uFullName" ng-class="submitted?'ng-dirty':''" required autofocus />
                        <span class="error" ng-show="(f1.uFullName.$dirty || submitted) && f1.uFullName.$error.required">Fullname required!</span>

                        <!-- here (f1.uFullName.$dirty || submitted) means if submit button clicked or it is dirty -->
                    </td>
                </tr>
                <tr>
                    <td>Email ID : </td>
                    <td>
                        <input type="email" ng-model="User.EmailID" name="uEmailID" ng-class="submitted?'ng-dirty':''" /> <!-- Not required-->
                        <span class="error" ng-show="(f1.uEmailID.$dirty || submitted) && f1.uEmailID.$error.email">Email ID not valid!</span>

                        @* here f1.uEmailID.$error.email will check is provided email id valid or not *@
                    </td>
                </tr>
                <tr>
                    <td>Username : </td>
                    <td>
                        <input type="text" ng-model="User.Username" name="uUsername" ng-class="submitted?'ng-dirty':''" required />
                        <span class="error" ng-show="(f1.uUsername.$dirty || submitted) && f1.uUsername.$error.required">Username required!</span>
                    </td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td>
                        <input type="password" ng-model="User.Password" name="uPassword" ng-class="submitted?'ng-dirty':''" required />
                        <span class="error" ng-show="(f1.uPassword.$dirty || submitted) && f1.uPassword.$error.required">Password required!</span>
                    </td>
                </tr>
                <tr>
                    <td> Gender : </td>
                    <td>
                        <input type="radio" ng-model="User.Gender" name="uGender" value="Male" required /> Male
                        <input type="radio" ng-model="User.Gender" name="uGender" value="Female" required /> Female
                        <span class="error" ng-show="(f1.uGender.$dirty || submitted) && f1.uGender.$error.required">Gender required!</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="{{submitText}}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    @section Scripts{
        <script src="~/Scripts/AngularController/Part6Controller.js"></script>
    }



</body>
</html>